{% extends '@App/base.html.twig' %}

{% set nuevo = modo == "new" %}

{% block content %}
    <div class="page-header">
        <h2>{{ nuevo ? "Nuevo" : "Edición de" }} resultado</h2>
    </div>

    <div class="content form-edit form-edit-resultado">
        {{ form_start(form, {'attr': {'class': 'bs-example form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="row">
            {% include '@App/helper/form-group.html.twig' with {'campo': form.partido, 'icono': 'border-all'} %}
            <div class="col-xs-12 col-sm-5 row-pareja">{{ pareja1 }}</div>
            <div class="col-xs-12 col-sm-2 row-pareja">vs.</div>
            <div class="col-xs-12 col-sm-5 row-pareja">{{ pareja2 }}</div>
            {% include '@App/helper/form-group-resultado.html.twig' with {'campo1': form.set1p1,'campo2': form.set1p2 } %}
            {% include '@App/helper/form-group-resultado.html.twig' with {'campo1': form.set2p1,'campo2': form.set2p2 } %}
            {% include '@App/helper/form-group-resultado.html.twig' with {'campo1': form.set3p1,'campo2': form.set3p2 } %}
        </div>

        <div class="row botonera">
            <div class="col-xs-12 col-sm-4">
                {% if not nuevo %}
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Borrar" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="{{ path('resultados_index') }}" class="btn btn-info">Volver al listado</a>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
