{% extends '@App/base.html.twig' %}

{% set nuevo = modo == "new" %}

{% block content %}
    <div class="container">
        <div class="page-header"><h2>{{ nuevo ? "Nuevo" : "Edición de" }} resultado</h2></div>
        {{ form_start(form, {'attr': {'class': 'bs-example form-horizontal'}}) }}
        {{ form_errors(form) }}

        {% include '@App/helper/form-group.html.twig' with {'campo': form.partido, 'icono': 'border-all'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.set1p1, 'icono': 'check-square'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.set1p2, 'icono': 'check-square'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.set2p1, 'icono': 'check-square'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.set2p2, 'icono': 'check-square'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.set3p1, 'icono': 'check-square'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.set3p2, 'icono': 'check-square'} %}

        <div class="pull-right">
            <input type="submit" value="Guardar" class="btn btn-success" />
            <a href="{{ path('resultados_index') }}" class="btn btn-info">Volver al listado</a>
        </div>
        {{ form_end(form) }}

        {% if not nuevo %}
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
{% endblock %}
