{% extends '@App/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="page-header">
            <h2>Resultados</h2>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Fecha del partido</th>
                <th>Propietario de la pista</th>
                <th>Nombre de la pista</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for resultado in resultados %}
                <tr>
                    <td>{% if resultado.partido.fecha %}{{ resultado.partido.fecha|date('d-m-Y H:i') }}{% endif %}</td>
                    <td>{{ resultado.partido.pista.propietario }}</td>
                    <td>{{ resultado.partido.pista.nombre }}</td>
                    <td>
                        <a href="{{ path('resultados_show', { 'id': resultado.id }) }}" class="btn btn-info">Ver</a>
                        <a href="{{ path('resultados_edit', { 'id': resultado.id }) }}" class="btn btn-info">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
