{% extends '@App/base.html.twig' %}

{% set logged = app.user is not empty %}
{% set user_id = logged ? app.user.id : 0 %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="page-header">
                <h2>Resultados</h2>
            </div>
            {% if resultados | length == 0 %}
                <div class="list-mensaje">No tienes aún ningún resultado</div>
            {% else %}
                {% for resultado in resultados %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item-container">
                        <div class="item item-resultado">
                            <div class="etiqueta">Fecha del partido</div>
                            <div class="valor">{% if resultado.partido.fecha %}{{ resultado.partido.fecha|date('d-m-Y H:i') }}{% endif %}</div>
                            <div class="etiqueta">Propietario de la pista</div>
                            <div class="valor">{{ resultado.partido.pista.propietario }}</div>
                            <div class="etiqueta">Nombre de la pista</div>
                            <div class="valor">{{ resultado.partido.pista.nombre }}</div>
                            <div class="botonera">
                                <a href="{{ path('resultados_show', { 'id': resultado.id }) }}" class="btn">Ver</a>
                                {% set resultado_user_id = resultado.partido.user.id %}
                                {% if admin or user_id == resultado_user_id %}
                                    <a href="{{ path('resultados_edit', { 'id': resultado.id }) }}" class="btn">Editar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
