{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="page-header">
                <h2>Resultados</h2>
            </div>
            {% for resultado in resultados %}
                <div class="col-xs-4 item-container">
                    <div class="item item-resultado">
                        <div class="etiqueta">Fecha del partido</div>
                        <div class="valor">{% if resultado.partido.fecha %}{{ resultado.partido.fecha|date('d-m-Y H:i') }}{% endif %}</div>
                        <div class="etiqueta">Propietario de la pista</div>
                        <div class="valor">{{ resultado.partido.pista.propietario }}</div>
                        <div class="etiqueta">Nombre de la pista</div>
                        <div class="valor">{{ resultado.partido.pista.nombre }}</div>
                        <div class="botonera">
                            <a href="{{ path('resultados_show', { 'id': resultado.id }) }}" class="btn btn-info">Ver</a>
                            <a href="{{ path('resultados_edit', { 'id': resultado.id }) }}" class="btn btn-info">Editar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
