{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="content">
            <div class="page-header"><h2>Nuevo resultado</h2></div>
            {{ form_start(form, {'attr': {'class': 'bs-example form-horizontal'}}) }}
            {{ form_errors(form) }}

            {% include '@App/helper/form-group.html.twig' with {'campo': form.partido, 'icono': 'lock'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.set1p1, 'icono': 'pencil'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.set1p2, 'icono': 'user'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.set2p1, 'icono': 'map-marker'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.set2p2, 'icono': 'map-marker'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.set3p1, 'icono': 'map-marker'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.set3p2, 'icono': 'iphone'} %}

            {{ form_widget(form) }}

            <div class="pull-right">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="{{ path('resultados_index') }}" class="btn btn-info">Volver al listado</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
