{% extends '@App/base.html.twig' %}

{% set p1j1 = resultado.partido.p1j1 is empty ? "sin jugador" : resultado.partido.p1j1.username %}
{% set p1j2 = resultado.partido.p1j2 is empty ? "sin jugador" : resultado.partido.p1j2.username %}
{% set p2j1 = resultado.partido.p2j1 is empty ? "sin jugador" : resultado.partido.p2j1.username %}
{% set p2j2 = resultado.partido.p2j2 is empty ? "sin jugador" : resultado.partido.p2j2.username %}
{% set editar = admin or app.user.id == resultado.partido.user.id %}
{% set editar_class = editar ? "col-xs-12 col-sm-4" : "col-xs-12" %}

{% block content %}
    <div class="page-header">
        <h2>Detalles del resultado</h2>
    </div>

    <div class="entity-show entity-show-resultado">
        <table class="table">
            <tbody>
            <tr>
                <th class="titulo td40">{{ p1j1 }} - {{ p1j2 }}</th>
                <th class="titulo td20">vs.</th>
                <th class="titulo td40">{{ p2j1 }} - {{ p2j2 }}</th>
            </tr>
            <tr>
                <td class="{{ resultado.set1p1 > resultado.set1p2 ? "win" : "lose" }}">{{ resultado.set1p1 }}</td>
                <td class="titulo">SET 1</td>
                <td class="{{ resultado.set1p1 < resultado.set1p2 ? "win" : "lose" }}">{{ resultado.set1p2 }}</td>
            </tr>
            <tr>
                <td class="{{ resultado.set2p1 > resultado.set2p2 ? "win" : "lose" }}">{{ resultado.set2p1 }}</td>
                <td class="titulo">SET 2</td>
                <td class="{{ resultado.set2p1 < resultado.set2p2 ? "win" : "lose" }}">{{ resultado.set2p2 }}</td>
            </tr>
            <tr>
                <td class="{{ resultado.set3p1 > resultado.set3p2 ? "win" : "lose" }}">{{ resultado.set3p1 }}</td>
                <td class="titulo">SET 3</td>
                <td class="{{ resultado.set3p1 < resultado.set3p2 ? "win" : "lose" }}">{{ resultado.set3p2 }}</td>
            </tr>
            </tbody>
        </table>

        <div class="container botonera">
            <div class="row">
                {% if editar %}
                    <div class="col-xs-12 col-sm-4">
                        <a href="{{ path('resultados_edit', { 'id': resultado.id }) }}" class="btn btn-success">Editar</a>
                    </div>
                {% endif %}
                <div class="{{ editar_class }}">
                    <a href="{{ path('resultados_index') }}" class="btn btn-info">Volver al listado</a>
                </div>
                {% if editar %}
                    <div class="col-xs-12 col-sm-4">
                        {{ form_start(delete_form) }}<input type="submit" value="Borrar" class="btn btn-danger">{{ form_end(delete_form) }}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
