{% extends '@App/base.html.twig' %}

{% set nuevo = modo == "new" %}

{% block body %}
    <div class="content">
        <div class="page-header"><h2>{{ nuevo ? "Nueva" : "Edición de" }} pista</h2></div>
        {{ form_start(form, {'attr': {'class': 'bs-example form-horizontal'}}) }}
        {{ form_errors(form) }}

        {% include '@App/helper/form-group.html.twig' with {'campo': form.user, 'icono': 'account'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.nombre, 'icono': 'border-all'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.propietario, 'icono': 'account-box-mail'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.direccion, 'icono': 'directions'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.localidad, 'icono': 'pin'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.provincia, 'icono': 'pin-drop'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.telefono, 'icono': 'smartphone-android'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.horario, 'icono': 'time'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.precio, 'icono': 'money'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.tipo, 'icono': 'tag'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.pared, 'icono': 'tag'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.cubierta, 'icono': 'tag'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.climatizada, 'icono': 'tag'} %}
        {% include '@App/helper/form-group.html.twig' with {'campo': form.puertas, 'icono': 'tag'} %}

        <div class="pull-right">
            <input type="submit" value="Guardar" class="btn btn-success" />
            <a href="{{ path('pista_index') }}" class="btn btn-info">Volver al listado</a>
        </div>
        {{ form_end(form) }}

        {% if not nuevo %}
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
