{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="page-header">
                <h2>Pistas</h2>
                <div class="list-new"><a href="{{ path('pista_new') }}" class="btn">Crear nueva pista</a></div>
            </div>
            {% for pista in pistas %}
                <div class="col-xs-12 col-sm-6 col-md-4 item-container">
                    <div class="item item-pista">
                        <div class="etiqueta">Nombre</div>
                        <div class="valor">{{ pista.nombre }}</div>
                        <div class="etiqueta">Propietario</div>
                        <div class="valor">{{ pista.propietario }}</div>
                        <div class="etiqueta">Localidad</div>
                        <div class="valor">{{ pista.localidad }}</div>
                        <div class="etiqueta">telefono</div>
                        <div class="valor">{{ pista.telefono }}</div>
                        <div class="botonera">
                            <a href="{{ path('pista_show', { 'id': pista.id }) }}" class="btn">Ver</a>
                            <a href="{{ path('pista_edit', { 'id': pista.id }) }}" class="btn">Editar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
