{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h2>Detalles de la pista</h2>
    </div>
    <div class="content entity-show">
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Nombre:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.nombre }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Propietario:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.propietario }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Direccion:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.direccion }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Localidad:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.localidad }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Provincia:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.provincia }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Telefono:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.telefono }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Horario:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.horario }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 etiqueta">Precio:</div>
            <div class="col-xs-12 col-sm-10 valor">{{ pistum.precio }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 botonera">
                {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
                <a href="{{ path('pista_index') }}" class="btn btn-info">Volver al listado</a>
                <a href="{{ path('pista_edit', { 'id': pistum.id }) }}" class="btn btn-success">Editar</a>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>


    <br/><br/><br/>



{% endblock %}
