{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h2>Perfil de usuario</h2>
    </div>

    <div class="content entity-show entity-show-usuario">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 container">
                    <div class="img-perfil">
                        <img class="img-responsive flip animated" src="{{ asset("images/perfil.png") }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 container perfil-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Nombre de usuario:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.username }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Nombre:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.nombre }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Apellidos:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.apellidos }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Email:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.email }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Teléfono:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.telefono }}</div>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-xs-12"><hr></div></div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 container">
                    <div class="img-perfil">
                        <img class="img-responsive flip animated" src="{{ asset("images/stats.png") }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 container perfil-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Nº partidos:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.getNumPartidos() }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">En izquierda:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.getNumPartidosIzquierda() }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">En revés:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.getNumPartidosReves() }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Ganados:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.getPartidosGanados() }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Ganados izda:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.getPartidosGanadosIzquierda() }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 etiqueta">Ganados revés:</div>
                        <div class="col-xs-12 col-sm-9 valor">{{ user.getPartidosGanadosReves() }}</div>
                    </div>
                </div>
            </div>

            <div class="container botonera">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <a href="{{ path('fos_user_profile_edit', { 'id': user.id }) }}" class="btn btn-info">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
