<div class="jugador {{ posicion }} col-xs-6">
    <div class="jugador-data">
        <div><img id="img-{{ posicion }}" class="{{ jugador is empty ? 'libre' : 'ocupado' }}" src="{{ asset('images/cara.svg') }}"></div>
        <div id="{{ posicion }}">
            {% if jugador is not empty %}
                <a class="quitar" href="#" onclick="setJugadorPartido(this, true);">X </a>
                {{ jugador.username }}
            {% else %}
                <a class="join" href="#" onclick="setJugadorPartido(this, false);">¡Apúntate!</a>
            {% endif %}
        </div>
    </div>
</div>
