{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="content">
            <div class="page-header"><h2>Edición de partido</h2></div>
            {{ form_start(edit_form, {'attr': {'class': 'bs-example form-horizontal'}}) }}
            {{ form_errors(edit_form) }}

            {% include '@App/helper/form-group.html.twig' with {'campo': edit_form.fecha, 'icono': 'lock'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': edit_form.pista, 'icono': 'pencil'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': edit_form.p1j1, 'icono': 'user'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': edit_form.p1j2, 'icono': 'map-marker'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': edit_form.p2j1, 'icono': 'map-marker'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': edit_form.p2j2, 'icono': 'map-marker'} %}

            {{ form_widget(edit_form) }}

            <div class="pull-right">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="{{ path('partidos_index') }}" class="btn btn-info">Volver al listado</a>
            </div>
            {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
            <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
