{% extends '@App/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="page-header">
            <h2>Partidos</h2>
            <div class="list-new"><a href="{{ path('partidos_new') }}" class="btn btn-success">Crear nuevo partido</a></div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Fecha y hora del partido</th>
                    <th>Propietario de pista</th>
                    <th>Pista</th>
                    <th>Número de jugadores</th>
                    <th>Jugadores</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for partido in partidos %}
                <tr>
                    <td>{% if partido.fecha %}{{ partido.fecha|date('d-m-Y H:i') }}{% endif %}</td>
                    <td>{{ partido.pista.propietario }}</td>
                    <td>{{ partido.pista.nombre }}</td>
                    <td>{{ partido.getNumJugadores() }}</td>
                    <td>{{ partido.getJugadores() | join(', ') }}</td>
                    <td>
                        <a href="{{ path('partidos_show', { 'id': partido.id }) }}" class="btn btn-info">Ver</a>
                        <a href="{{ path('partidos_edit', { 'id': partido.id }) }}" class="btn btn-info">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
