{% extends '@App/base.html.twig' %}

{% set logged = app.user is not empty %}
{% set user_id = logged ? app.user.id : 0 %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="page-header">
                <h2>Partidos</h2>
                {% if logged %}
                    <div class="list-new"><a href="{{ path('partidos_new') }}" class="btn">Crear nuevo partido</a></div>
                {% endif %}
            </div>
            {% if partidos | length == 0 %}
                <div class="list-mensaje">No tienes aún ningún partido</div>
            {% else %}
                {% for partido in partidos %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item-container">
                        <div class="item item-partido">
                            <div class="etiqueta">Fecha y hora del partido</div>
                            <div class="valor">{% if partido.fecha %}{{ partido.fecha|date('d-m-Y H:i') }}{% endif %}</div>
                            <div class="etiqueta">Propietario de la pista</div>
                            <div class="valor">{{ partido.pista.propietario }}</div>
                            <div class="etiqueta">Pista</div>
                            <div class="valor">{{ partido.pista.nombre }}</div>
                            <div class="etiqueta">Nº jugadores</div>
                            <div class="valor">{{ partido.getNumJugadores() }}</div>
                            <div class="etiqueta">Jugadores</div>
                            <div class="valor">{{ partido.getJugadores() | join(', ') }}</div>
                            <div class="etiqueta">¿Resultados?</div>
                            <div class="valor">{{ partido.resultado is not empty ? "Sí" : "No" }}</div>
                            <div class="botonera">
                                <a href="{{ path('partidos_show', { 'id': partido.id }) }}" class="btn">Ver</a>
                                {% set partido_user_id = partido.user.id %}
                                {% if admin or user_id == partido_user_id %}
                                    <a href="{{ path('partidos_edit', { 'id': partido.id }) }}" class="btn">Editar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
