{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="content">
            <div class="page-header"><h2>Nuevo partido</h2></div>
            {{ form_start(form, {'attr': {'class': 'bs-example form-horizontal'}}) }}
            {{ form_errors(form) }}

            {% include '@App/helper/form-group.html.twig' with {'campo': form.fecha, 'icono': 'lock'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.pista, 'icono': 'pencil'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.p1j1, 'icono': 'user'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.p1j2, 'icono': 'map-marker'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.p2j1, 'icono': 'map-marker'} %}
            {% include '@App/helper/form-group.html.twig' with {'campo': form.p2j2, 'icono': 'map-marker'} %}

            {#{{ form_widget(form) }}#}

            <div class="pull-right">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="{{ path('partidos_index') }}" class="btn btn-info">Volver al listado</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
