{% extends '@App/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="page-header"><h2>Detalles de partido</h2></div>

        <table>
            <tbody>
            <tr>
                <th>Pista</th>
                <td>{{ partido.pista.propietario }} - {{ partido.pista.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if partido.fecha %}{{ partido.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <row>
            <div id="p1j1" class="col-sm-6">
                {% if partido.p1j1 is not empty %}
                    {{ partido.p1j1.nickNombre }}
                {% else %}
                    <a href="#" onclick="setJugadorPartido(this);">¡Apúntate!</a>
                {% endif %}
            </div>
            <div id="p1j2" class="col-sm-6">
                {% if partido.p1j2 is not empty %}
                    {{ partido.p1j2.nickNombre }}
                {% else %}
                    <a href="#" onclick="setJugadorPartido(this);">¡Apúntate!</a>
                {% endif %}
            </div>
        </row><row>
            <div id="p2j1" class="col-sm-6">
                {% if partido.p2j1 is not empty %}
                    {{ partido.p2j1.nickNombre }}
                {% else %}
                    <a href="#" onclick="setJugadorPartido(this);">¡Apúntate!</a>
                {% endif %}
            </div>
            <div id="p2j2" class="col-sm-6">
                {% if partido.p2j2 is not empty %}
                    {{ partido.p2j2.nickNombre }}
                {% else %}
                    <a href="#" onclick="setJugadorPartido(this);">¡Apúntate!</a>
                {% endif %}
            </div>
        </row>

        <br/><br/><br/>

        <h4>Resultado</h4>
        {% if partido.resultado is empty %}
            <a href="{{ path('resultados_new', {'id_partido': partido.id }) }}">Introducir resultados</a>
        {% else %}
            <table>
                <tr><td>{{ partido.resultado.set1p1 }}</td><td>-</td><td>{{ partido.resultado.set1p2 }}</td></tr>
                <tr><td>{{ partido.resultado.set2p1 }}</td><td>-</td><td>{{ partido.resultado.set2p2 }}</td></tr>
                <tr><td>{{ partido.resultado.set3p1 }}</td><td>-</td><td>{{ partido.resultado.set3p2 }}</td></tr>
            </table>
            <a href="{{ path('resultados_edit', {'id': partido.resultado.id }) }}">Editar resultados</a>
        {% endif %}

        <br/><br/><br/>

        {{ form_start(delete_form) }}
            <input type="submit" value="Borrar" class="btn btn-danger">
            <a href="{{ path('partidos_index') }}" class="btn btn-info">Volver al listado</a>
            <a href="{{ path('partidos_edit', { 'id': partido.id }) }}" class="btn btn-success">Editar</a>
        {{ form_end(delete_form) }}
    </div>
</div>


<script>
    function setJugadorPartido(posObj){
        if ("{{ app.user }}" == "") {
            alert("Tienes que loguearte para poder apuntarte a un partido.");
            return false;
        }
        posId = posObj.parentNode.id;
        $.post('{{ path('ajax_usermatch') }}',
            { partido_id: {{ partido.id }}, posicion: posId },
            function(response){
                if(response.success){
                    $("#"+posId).html(response.jugador);
                }
                alert(response.mensaje);
            }, "json");
    }

    $(document).ready(function() {
        $('button').on('click', function(){setJugadorPartido();});
    });
</script>
{% endblock %}
